<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<table border="1">
    <tr>
        <td>${str}</td>
        <td th:text="${str}"></td>
    </tr>
    <tr>
        <td>${#strings.contains(str, 'Hello')}</td>
        <td th:text="${#strings.contains(str, 'Hello')}"></td>
    </tr>
    <tr>
        <td>${#strings.containsIgnoreCase(str, 'Hello')}</td>
        <td th:text="${#strings.containsIgnoreCase(str, 'Hello')}"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>
</body>
</html>