<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $("#registerBtn01").on("click", function() {
            $.get("/register/hongkd", function(result) {
                console.log("result : " + result);
                if (result === "SUCCESS") {
                    alert("SUCCESS");
                }
            });
        });

        $("#registerBtn02").on("click", function () {
            var userId = $("#userId");
            var password = $("#password");
            var userIdVal = userId.val();
            var passwordVal = password.val();
            var userObject = {
                userId : userIdVal,
                password : passwordVal
            };

            $.ajax({
                type : "post",
                url : "/register/hongkd/pw01",
                data : JSON.stringify(userObject),
                contentType : "application/json; charset=utf-8",
                success : function (result) {
                    console.log("result : " + result);
                    if (result === "SUCCESS") {
                        alert("SUCCESS");
                    }
                }
            });
        });

        $("#registerBtn03").on("click", function() {

            var userId = $("#userId");
            var password = $("#password");
            var userIdVal = userId.val();
            var passwordVal = password.val();

            var userObject = {
                userId : userIdVal,
                password : passwordVal
            };

            $.ajax({
                type : "post",
                url : "/register03",
                data : JSON.stringify(userObject),
                contentType : "application/json; charset=utf-8",
                success : function(result) {
                    console.log("result : " + result);
                    if (result === "SUCCESS") {
                        alert("SUCCESS");
                    }
                }
            });

        });

        $("#registerBtn04").on("click", function () {

            var userId = $("#userId");
            var password = $("#password");
            var userIdVal = userId.val();
            var passwordVal = password.val();

            var userObject = {
                userId : userIdVal,
                password : passwordVal
            };

            $.ajax({
                type : "post",
                url : "/register04",
                data : JSON.stringify(userObject),
                contentType : "application/json; charset=utf-8",
                success : function (result) {
                    console.log("result : " + result);
                    if (result === "SUCCESS") {
                        alert("SUCCESS");
                    }
                }
            });

        });

        $("#registerBtn05").on("click", function () {

            var userId = $("#userId");
            var password = $("#password");
            var userIdVal = userId.val();
            var passwordVal = password.val();

            var userObject = {
                userId : userIdVal,
                password : passwordVal
            };

            $.ajax({
                type : "post",
                url : "/register05?userId=user01",
                data : JSON.stringify(userObject),
                contentType : "application/json; charset=utf-8",
                success : function (result) {
                    console.log("result : " + result);
                    if (result === "SUCCESS") {
                        alert("SUCCESS");
                    }
                }
            });

        });

        $("#registerBtn06").on("click", function () {
            var userId = $("#userId");
            var password = $("#password");
            var userIdVal = userId.val();
            var passwordVal = password.val();

            var userObject = {
                userId : userIdVal,
                password : passwordVal
            }

            $.ajax({
                type : "post",
                url : "/register/hongkd",
                data : JSON.stringify(userObject),
                contentType : "application/json; charset=utf-8",
                success : function (result) {
                    console.log("result : " + result);

                }
            });
        })
    });
</script>
<body>
<h2>Register Form</h2>

</body>
</html>