<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<script src="/static/js/jquery-3.6.0.min.js"></script>
<body>
<h2>유저 등록 화면</h2>
<form action="result.html" th:action="@{/register}" th:object="${member}" method="POST">
    <table>
        <tr>
            <td>유저ID</td>
            <td>
                <input type="text" name="text" th:field="*{userId}" />
                <font color="red">
                    <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">
                        userId의 에러 메시지
                    </span>
                </font>
            </td>
        </tr>
        <tr>
            <td>패스워드</td>
            <td>
                <input type="text" name="text" th:field="*{password}" />
                <font color="red">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                        password의 에러 메시지
                    </span>
                </font>
            </td>
        </tr>
        <tr>
            <td>이름</td>
            <td>
                <input type="text" name="text" th:field="*{userName}" />
                <font color="red">
                    <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">
                        userName의 에러 메시지
                    </span>
                </font>
            </td>
        </tr>
        <tr>
            <td>E-MAIL</td>
            <td>
                <input type="text" name="text" th:field="*{email}" />
                <font color="red">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                        email의 에러 메시지
                    </span>
                </font>
            </td>
        </tr>
        <tr>
            <td>생년월일</td>
            <td>
                <input type="date" name="dateOfBirth" th:field="*{dateOfBirth}" />
                <font color="red">
                    <span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">
                        dateOfBirth의 에러 메시지
                    </span>
                </font>
            </td>
        </tr>
        <tr>
            <td>성별</td>
            <td>
                <input type="radio" th:field="*{gender}" th:value="male" />
                <label th:for="${#ids.prev('gender')}">Male</label>
                <br/>
                <input type="radio" th:field="*{gender}" th:value="female" />
                <label th:for="${#ids.prev('gender')}">Female</label>
                <br/>
                <input type="radio" th:field="*{gender}" th:value="other" />
                <label th:for="${#ids.prev('gender')}">Other</label>
            </td>
        </tr>
    </table>

    <button name="register" type="submit">등록</button>
</form>
</body>
</html>