<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h2>Spring Form</h2>
<form action="result.html" th:action="@{/register2}" th:object="${member}" method="POST">
    <table>
        <tr>
            <td>소유차량</td>
            <td>
                <select th:field="*{carList}">
                    <option value="">=== 선택해 주세요 ===</option>
                    <option th:each="carCode : ${carCodeList}"
                            th:value="${carCode.value}"
                            th:text="${carCode.label}">Volvo</option>
                </select>
            </td>
        </tr>
    </table>

    <button name="register" type="submit">등록</button>
</form>
</body>
</html>