<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {

        $("#inputFile").on("change", function (event) {
            console.log("change");
            var files = event.target.files;
            var file = files[0];
            console.log(file);
            var formData = new FormData();
            formData.append("file", file);

            $.ajax({
                type : "post",
                url : "/uploadAjax",
                data : formData,
                dataType : "text",
                processData : false,
                contentType : false,
                success : function (data) {
                    alert(data);
                }
            });
        });

    });
</script>
<body>
<h1>Register Form</h1>
<div>
    <input type="file" id="inputFile">
</div>
</body>
</html>