<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jquery</title>
    <script src="../jquery.3.4.1.min.js"></script>
    <script>
        function test(options) {
            options = $.extend({
                valueA : 10,
                valueB : 20,
                valueC : 30
            }, options);

            alert(options.valueA + " : " + options.valueB + " : " + options.valueC);
        }

        test({
            valueA : 52,
            valueC : 273
        });
    </script>
</head>
<body>

</body>
</html>