<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Spring Form</h2>
<form action="result.html" th:action="@{/register}" th:object="${member}" method="POST">
    <table>
        <tr>
            <td>개발자여부</td>
            <td>
                <input type="checkbox" name="developer" th:field="*{developer}" th:value="Y" />
            </td>
        </tr>
        <tr>
            <td>외국인여부</td>
            <td>
                <input type="checkbox" name="foreigner" th:field="*{foreigner}" th:value="false" />
            </td>
        </tr>
        <tr>
            <td>취미(hobby)</td>
            <td>
                <input type="checkbox" th:field="*{hobby}" th:value="Sports" />
                <label th:for="${#ids.prev('hobby')}">Sports</label>
                <br/>
                <input type="checkbox" th:field="*{hobby}" th:value="Music" />
                <label th:for="${#ids.prev('hobby')}">Music</label>
                <br/>
                <input type="checkbox" th:field="*{hobby}" th:value="Movie" />
                <label th:for="${#ids.prev('hobby')}">Movie</label>
            </td>
        </tr>
        <tr>
            <td>취미(hobbyArray)</td>
            <td>
                <input type="checkbox" th:field="*{hobbyArray}" th:value="Sports" />
                <label th:for="${#ids.prev('hobbyArray')}">Sports</label>
                <br/>
                <input type="checkbox" th:field="*{hobbyArray}" th:value="Music" />
                <label th:for="${#ids.prev('hobbyArray')}">Music</label>
                <br/>
                <input type="checkbox" th:field="*{hobbyArray}" th:value="Movie" />
                <label th:for="${#ids.prev('hobbyArray')}">Movie</label>
            </td>
        </tr>
        <tr>
            <td>취미(hobbyList)</td>
            <td>
                <input type="checkbox" th:field="*{hobbyList}" th:value="Sports" />
                <label th:for="${#ids.prev('hobbyList')}">Sports</label>
                <br/>
                <input type="checkbox" th:field="*{hobbyList}" th:value="Music" />
                <label th:for="${#ids.prev('hobbyList')}">Music</label>
                <br/>
                <input type="checkbox" th:field="*{hobbyList}" th:value="Movie" />
                <label th:for="${#ids.prev('hobbyList')}">Movie</label>
            </td>
        </tr>
    </table>

    <button name="register" type="submit">등록</button>
</form>
</body>
</html>