<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>유저 등록 화면</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>유저 등록 화면</h2>

<form action="result.html" th:action="@{/register}" th:object="${member}" method="POST">
    <table>
        <tr>
            <td>유저ID</td>
            <td>
                <input type="text" name="text" th:field="*{userId}" />
                <font color="red">
                    <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">
                        userId의 에러 메시지
                    </span>
                </font>
            </td>
        </tr>
        <tr>
            <td>패스워드</td>
            <td>
                <input type="text" name="text" th:field="*{password}" />
                <font color="red">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                        password의 에러 메시지
                    </span>
                </font>
            </td>
        </tr>
        <tr>
            <td>이름</td>
            <td>
                <input type="text" name="text" th:field="*{userName}" />
                <font color="red">
                    <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">
                        userName의 에러 메시지
                    </span>
                </font>
            </td>
        </tr>
        <tr>
            <td>E-MAIL</td>
            <td>
                <input type="text" name="text" th:field="*{email}" />
                <font color="red">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                        email의 에러 메시지
                    </span>
                </font>
            </td>
        </tr>
        <tr>
            <td>생년월일</td>
            <td>
                <input type="date" name="dateOfBirth" th:field="*{dateOfBirth}" />
                <font color="red">
                    <span th:if="${#fields.hasErrors('address.postCode')}" th:errors="*{address.postCode}">
                        address.postCode의 에러 메시지
                    </span>
                </font>
            </td>
        </tr>
        <tr>
            <td>주소</td>
            <td>
                <input type="text" name="text" th:field="*{address.location}" />
                <font color="red">
                    <span th:if="${#fields.hasErrors('address.location')}" th:errors="*{address.location}">
                        address.location의 에러 메시지
                    </span>
                </font>
            </td>
        </tr>
        <tr>
            <td>카드1 - 번호</td>
            <td>
                <input type="text" name="text" th:field="*{cardList[0].no}" />
                <font color="red">
                    <span th:if="${#fields.hasErrors('cardList[0].no')}" th:errors="*{cardList[0].no}">
                        cardList[0].no의 에러 메시지
                    </span>
                </font>
            </td>
        </tr>
        <tr>
            <td>카드1 - 유효년월</td>
            <td>
                <input type="text" name="text" th:field="*{cardList[0].validMonth}"/>
                <font color="red">
                    <span th:if="${#fields.hasErrors('cardList[0].validMonth')}" th:errors="*{cardList[0].validMonth}">
                        cardList[0].validMonth의 에러 메시지
                    </span>
                </font>
            </td>
        </tr>
        <tr>
            <td>카드2 - 번호</td>
            <td>
                <input type="text" name="text" th:field="*{cardList[1].no}" />
                <font color="red">
                    <span th:if="${#fields.hasErrors('cardList[1].no')}" th:errors="*{cardList[1].no}">
                        cardList[1].no의 에러 메시지
                    </span>
                </font>
            </td>
        </tr>
        <tr>
            <td>카드2 - 유효년월</td>
            <td>
                <input type="text" name="text" th:field="*{cardList[1].validMonth}" />
                <font color="red">
                    <span th:if="${#fields.hasErrors('cardList[1].validMonth')}" th:errors="*{cardList[1].validMonth}">
                        cardList[1].validMonth의 에러 메시지
                    </span>
                </font>
            </td>
        </tr>
    </table>

    <button name="register" type="submit">등록</button>
</form>

</body>
</html>