<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>window</title>
    <script>
        window.onload = function () {
            let img = document.createElement('img');
            img.setAttribute('src', 'Saas.png');
            img.setAttribute('width', 500);
            img.setAttribute('height', 350);

            img.setAttribute('data-property', 350);

            document.body.appendChild(img);
        };
    </script>
</head>
<body>
    <h1>Text Node</h1>
    <img src="Saas.png" />
</body>
</html>