<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>window</title>
    <script>
        window.onload = function () {
            let output = '';
            output += '<ul>';
            output += '     <li>JavaScript</li>';
            output += '     <li>jQuery</li>';
            output += '     <li>Ajax</li>';
            output += '</ul>';

            document.body.innerHTML = output;

            document.body.innerHTML += '<h1>Document Object Model</h1>';
        }
    </script>
</head>
<body>

</body>
</html>