<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>selector</title>
    <script>
        window.onload = function () {
            let header1 = document.querySelector('#header-1');
            let header2 = document.querySelector('#header-2');

            header1.innerHTML = 'with getElementById()';
            header2.innerHTML = 'with getElementById()';
        };
    </script>
</head>
<body>
    <h1 id="header-1">Header</h1>
    <h1 id="header-2">Header</h1>
</body>
</html>