<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ex12</title>
    <script>
        window.onload = function () {
            let sun = document.getElementById('sun');
            let earth = document.getElementById('earth');
            let moon = document.getElementById('moon');

            sun.style.position = 'absolute';
            earth.style.position = 'absolute';
            moon.style.position = 'absolute';
            sun.style.left = 250 + 'px';
            sun.style.top = 200 + 'px';

            let earthAngle = 0;
            let moonAngle = 0;

            setInterval(function () {

                let earthLeft = 250 + 150 * Math.cos(earthAngle);
                let earthTop = 200 + 150 * Math.sin(earthAngle);
                let moonLeft = earthLeft + 50 * Math.cos(moonAngle);
                let moonTop = earthTop + 50 * Math.sin(moonAngle);

                earth.style.left = earthLeft + 'px';
                earth.style.top = earthTop + 'px';
                moon.style.left = moonLeft + 'px';
                moon.style.top = moonTop + 'px';

                earthAngle += 0.1;
                moonAngle += 0.3;

            }, 1000 / 30);
        };
    </script>
</head>
<body>
    <h1 id="sun">@</h1>
    <h1 id="earth">0</h1>
    <h1 id="moon">*</h1>
</body>
</html>